@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato, sans-serif'
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
      @apply mx-2 p-2 mb-1 hover:bg-blackhover rounded-md
      focus:outline-none focus:ring focus:ring-activeblue
      lg:text-lg lg:font-semibold lg:ml-3 tracking-wide
  }
  .bottom-nav-icon {
    @apply text-2xl text-white opacity-75
  }
  .bottom-nav {
    @apply flex flex-1 justify-center text-center cursor-pointer
    hover:bg-blacklike
  }
  .sidebar-icon {
    @apply
    before:absolute text-lg whitespace-nowrap before:mr-3 before:text-white
    before:right-full
    my-2 mx-auto hover:bg-blackhover rounded p-3 cursor-pointer
  }
}
