@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'sans-serif'
}

.ql-container {
  height: 100%;
  background-color: #eaedf0;
}
.ql-editor {
  height: 100%;
  max-width: 48rem;
  margin: 0 auto;
  background-color: white;
  padding: 4rem !important;
}
.quill {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .move-down {
    offset-path: path("M0 0 L0 120");
    transform: rotate(260deg);
  }
  .move-up {
    offset-path: path("M0 120 L-140 -100");
    transform: rotate(120deg);
  }
  .reset {
    offset-path: path("M-140 -100 L0 0");
    transform: rotate(-40deg);
  }
}
@layer components {
  .nav-link {
      @apply mx-2 p-2 mb-1 hover:bg-blackhover rounded-md
      focus:outline-none focus:ring focus:ring-activeblue
      lg:text-lg lg:font-semibold lg:ml-3 tracking-wide
  }
  .bottom-nav-icon {
    @apply text-2xl text-white opacity-75
  }
  .bottom-nav {
    @apply flex flex-1 justify-center text-center cursor-pointer
    hover:bg-blacklike
  }
  .sidebar-icon {
    @apply
    before:absolute text-lg whitespace-nowrap before:mr-3 before:text-white
    before:right-full
    my-2 mx-auto hover:bg-blackhover rounded p-3 cursor-pointer
  }
  .video-text {
    @apply absolute bottom-0 left-0 px-2 m-2 bg-[#15181a] border-l-4 border-l-red-500 rounded-lg
  }
}
