@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'sans-serif'
}

.ql-container {
  height: 100%;
  background-color: #eaedf0;
}
.ql-editor {
  height: 100%;
  max-width: 48rem;
  margin: 0 auto;
  background-color: white;
  padding: 2rem !important;
}
.quill {
  height: 100%;
}
.ql-toolbar {
  border: 0 !important;
}
.ql-snow .ql-picker {
  color: white !important;
}
.ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: #fff !important;
}

.ql-toolbar .ql-fill {
  fill: #fff !important;
  stroke: none !important;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: 120% !important;
  border: 0 !important;
  width: 110%;
  padding: 5px;
}

.ql-snow .ql-picker-options .ql-picker-item {
  padding-left: .5em;
  margin: 2px;
  border-radius: 5px;
}
.ql-snow .ql-picker-options .ql-picker-item:hover {
  background-color: #2d3748;
  margin: 2px;
  border-radius: 5px;
}

.ql-toolbar .ql-picker {
  color: #fff !important;
}
.ql-snow .ql-picker-options {
  background-color: #1a202c !important;
}
.ql-toolbar.ql-snow .ql-picker-options {
  border: 0;
  border-radius: 10px;
}
.ql-active {
  background-color: #4A5567 !important;
  border-radius: 5px;
}

.ql-formats * {
  margin-right: 2px !important;
}
.ql-formats:not(:first-child) {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.contexify_item:not(.contexify_item-disabled):hover>.contexify_itemContent {
  background-color: #2d3748 !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .move-down {
    offset-path: path("M0 0 L0 120");
    transform: rotate(260deg);
  }
  .move-up {
    offset-path: path("M0 120 L-140 -100");
    transform: rotate(120deg);
  }
  .reset {
    offset-path: path("M-140 -100 L0 0");
    transform: rotate(-40deg);
  }
}
@layer components {
  .nav-link {
      @apply mx-2 p-2 mb-1 hover:bg-blackhover rounded-md
      focus:outline-none focus:ring focus:ring-activeblue
      lg:text-lg lg:font-semibold lg:ml-3 tracking-wide
  }
  .bottom-nav-icon {
    @apply text-2xl text-white opacity-75
  }
  .bottom-nav {
    @apply flex flex-1 justify-center text-center cursor-pointer
    hover:bg-blacklike
  }
  .sidebar-icon {
    @apply
    before:absolute text-lg whitespace-nowrap before:mr-3 before:text-white
    before:right-full
    my-2 mx-auto hover:bg-blackhover rounded p-3 cursor-pointer hover:before:bg-blackBackground hover:before:py-1 hover:before:px-2 hover:before:rounded
  }
  .video-text {
    @apply absolute bottom-0 left-0 px-2 m-2 bg-[#15181a] bg-opacity-40 border-l-4  rounded
  }
}
